# APP
PORT=3001
API_VERSION=v1
APP_ENV=development

#Urls
SERVER_URL=http://localhost:3001

# DATABASE
DATABASE_URL=postgresql://username:pass@localhost:5432/db_name?schema=public

# CORS
ORIGIN=http://localhost:5173

CREDENTIALS=true

SECRET_KEY=secret_for_jwt
